<form [formGroup]='form' (submit)="addNote()">
  <div class="form-group">
    <input formControlName='id' hidden class="form-control" />
  </div>
  <div class="form-group">
    <label for="title" class="form-label">Title</label>
    <input formControlName='title' class="form-control" />
    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="alert alert-danger">
      <div *ngIf="form.get('title').errors.required">
        Title is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="form-label">Description</label>
    <textarea formControlName='description' class="form-control" ></textarea>
    <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">
      <div *ngIf="form.get('description').errors.required">
        Description is required.
      </div>
      <div *ngIf="form.get('description').errors.minlength">
        Min length should be {{form.get('description').errors.minlength.requiredLength}}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary"  *ngIf="!editNote">Add Note</button>
  <button type="submit" class="btn btn-info" *ngIf="editNote">Update Note</button>
  <button class="btn btn-danger" *ngIf="editNote" (click)="cancelUpdate()">Cancel</button>
</form>
