<note-form [editNote]="selectedNote"
(removeSelectedNote)="removeSelectedNote($event)"
(updateUpdatedNote)="updateUpdatedNote($event)"
(note)="addNote($event)"></note-form>

<div *ngIf="!notes">loading notes...</div>
<div class="panel panel-default" *ngFor="let note of notes">
  <div class="panel-heading">
    {{note.title}} -  {{ note.createdDate | date}}
  </div>
  <div class="panel-body">
    {{note.description}}
  </div>
  <div class="panel-footer">
    <a class="btn btn-warning" (click)="editNote(note)" > Edit </a>
    <button type="button" class="btn btn-danger" [disabled]="selectedNote" (click)="deleteNote(note)"> Delete </button>
  </div>
</div>
